body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(176, 184, 189);
    font-family: sans-serif;
}

#footer {
    width: 100vw;
    height: 250px;
    bottom: 0px;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
}
.p5Canvas {
    position: absolute;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, 0%);
}
#defaultCanvas1 {
    bottom: -20px;
}

.banner {
    margin: 0;
    position: absolute;
    width:600px;
    top: calc(50% - 170px);
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bannerAnime 5s 1;
}
@keyframes
bannerAnime {
    0% {
        opacity: .1;
        top: calc(50% - 150px);
        width: 450px;
    }
    75% {
        width: 600px;
        top: calc(50% - 170px);
    }
    100% {
        opacity: 1;
    }
}

.centerCanvas{
    padding: 0;
    margin: 0;
}

#searchIcon {
    transition: 0.2s;
    cursor: pointer;
    font-size: 26px;
    color: lightblue;
    
    position: absolute;
    top: 50%;
    padding-left: 0.5px;
    left: calc(50% + 180px);
    transform: translate(-50%, -50%);
}
.searchIconBackground {
    transition: 0.2s;
    background-color: darkcyan;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: calc(50% + 180px);
    transform: translate(-50%, -50%);
}

.searchBar {
    transition: 0.2s;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #34495e;
    border-radius: 40px;
    width: 300px;
    height: 40px;
    text-align: center;
}

#searchInput{
    transition: 0.2s;
    background: rgba(0, 0, 0, 0);
    color: lightcyan;
    width: 280px;
    height: 25px;
    font-size: 24px;
    border: 0;
    padding-top: 8px;
    text-align: center;
}
#searchInput:focus {
    outline: none;
}

.searchBar:hover, #searchInput:hover {
    transition: 0.3s;
    width: 550px;
}
.searchBar:hover ~ #searchIcon, .searchBar:hover ~ .searchIconBackground {
    transition: 0.3s;
    left: calc(50% + 305px);
}

@media screen and (max-width: 700px) {
    .banner {
        width:500px;
        animation: bannerAnime 5s 1;
    }
    @keyframes
    bannerAnime {
        0% {
            opacity: .1;
            top: calc(50% - 150px);
            width: 400px;
        }
        75% {
            width: 500px;
            top: calc(50% - 170px);
        }
        100% {
            opacity: 1;
        }
    }

    .searchBar {
        width: 50vw;
    }
    #searchInput{
        width: 50vw;
    }
    
    #searchIcon {
        left: 82vw;
    }
    .searchIconBackground {
        left: 82vw;
    }
    .searchBar:hover, #searchInput:hover {
        transition: 0.3s;
        width: 70vw;
    }
    .searchBar:hover ~ #searchIcon, .searchBar:hover ~ .searchIconBackground {
        transition: 0.3s;
        left: 92vw;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        width:450px;
        animation: bannerAnime 5s 1;
    }
    @keyframes
    bannerAnime {
        0% {
            opacity: .1;
            top: calc(50% - 150px);
            width: 350px;
        }
        75% {
            width: 450px;
            top: calc(50% - 170px);
        }
        100% {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 500px) {
    .banner {
        width: calc(100vw - 50px);
        animation: bannerAnime 5s 1;
    }
    @keyframes
    bannerAnime {
        0% {
            opacity: .1;
            top: calc(50% - 150px);
            width: calc(100vw - 100px);
        }
        75% {
            width: calc(100vw - 50px);
            top: calc(50% - 170px);
        }
        100% {
            opacity: 1;
        }
    }
}